.avatar {
  border-radius: 50px;
}

.pin-card {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
}

.middle {    
  vertical-align: inherit !important;
  margin-right: 7.5px;
}

.line-heigh-info-window {
  line-height: 1.4 !important;
}

.inline {
  display: inline-block;
}

.info-img {
  margin-right: 20px;
}

.wrapper-pin-card {
  margin-top: 400px;
}